* {
  box-sizing: border-box;
}

@each $key, $value in $sizes {
  .w {
    @include bp-all {
      &-#{$key} {
        width: $value !important;
      }
    }
    &-#{$key} {
      width: $value;
    }
  }
  .h {
    @include bp-all {
      &-#{$key} {
        height: $value !important;
      }
    }
    &-#{$key} {
      height: $value;
    }
  }
  .max-h {
    @include bp-all {
      &-#{$key} {
        max-height: $value !important;
      }
    }
    &-#{$key} {
      max-height: $value;
    }
  }
  .min-h {
    @include bp-all {
      &-#{$key} {
        min-height: $value !important;
      }
    }
    &-#{$key} {
      min-height: $value;
    }
  }
  .max-w {
    @include bp-all {
      &-#{$key} {
        max-width: $value !important;
      }
    }
    &-#{$key} {
      max-width: $value;
    }
  }
  .min-w {
    @include bp-all {
      &-#{$key} {
        min-width: $value !important;
      }
    }
    &-#{$key} {
      min-width: $value;
    }
  }
}

.w-fit-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
}
.w-fill-available {
  width: -webkit-fill-available;
  width: -moz-available;
}

.h-fit-content {
  height: -webkit-fit-content;
  height: -moz-fit-content;
}
.h-fill-available {
  height: -webkit-fill-available;
  height: -moz-available;
}

@each $key, $value in $gaps {
  .gap-#{$key} {
    gap: $value;
  }
}

.bg {
  &-main {
    background-color: $background;
  }
  &-nav {
    background-color: $navBackground;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: map-get($map: $text-weights, $key: medium) !important;
}

.text-underline {
  text-decoration: underline;
}

.q-no-hoverable {
  &:hover {
    & > .q-focus-helper {
      opacity: 0 !important;
    }
  }
}

.cursor {
  &-loading {
    cursor: wait;
  }
}

.no-link-style {
  text-decoration: none;
  color: inherit;
}

.row {
  display: flex;
  flex-direction: row;
  @include bp-all {
    display: flex !important;
    flex-direction: row !important;
  }
}

.column {
  display: flex;
  flex-direction: column;
  @include bp-all {
    display: flex !important;
    flex-direction: column !important;
  }
}

.q {
  // all responsive spacing
  @each $classCode, $spaceingType in $space-types {
    &-#{$classCode} {
      @each $suffix, $datas in $spaces-repo {
        &#{$suffix} {
          @each $bpKey, $bpValue in $bps {
            &-#{$bpKey} {
              @include bp($bpKey) {
                @each $spaceKey, $spaceValue in $spaces {
                  &-#{$spaceKey} {
                    @each $label, $axe in $datas {
                      #{$spaceingType}-#{$label}: map-get($spaceValue, $axe) !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.d {
  @include bp-all {
    &-block {
      display: block !important;
    }
    &-inline {
      display: inline !important;
    }
    &-inline-block {
      display: inline-block !important;
    }
    &-flex {
      display: flex !important;
    }
    &-inline-flex {
      display: inline-flex !important;
    }
  }
  &-block {
    display: block !important;
  }
  &-inline {
    display: inline !important;
  }
  &-inline-block {
    display: inline-block !important;
  }
  &-flex {
    display: flex !important;
  }
  &-inline-flex {
    display: inline-flex !important;
  }
}

.q-checkbox__icon {
  display: flex;
  justify-content: end;
}

.grid {
  display: grid;
}

$cols: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;

.grid {
  @each $col in $cols {
    &-cols-#{$col} {
      grid-template-columns: repeat($col, minmax(0, 1fr));
    }
  }
  &-cols {
    @include bp-all {
      @each $col in $cols {
        &-#{$col} {
          grid-template-columns: repeat($col, minmax(0, 1fr));
        }
      }
    }
  }
}

.text-secondary-light {
  color: $secondary-light;
}

.text {
  @include bp-all {
    &-left {
      text-align: left !important;
    }
    &-center {
      text-align: center !important;
    }
    &-right {
      text-align: right !important;
    }
  }
}
