* {
  box-sizing: border-box;
}

@each $key, $value in $sizes {
  .w {
    @include bp-all {
      &-#{$key} {
        width: $value;
      }
    }
    &-#{$key} {
      width: $value;
    }
  }
  .h {
    @include bp-all {
      &-#{$key} {
        height: $value;
      }
    }
    &-#{$key} {
      height: $value;
    }
  }
  .mh {
    @include bp-all {
      &-#{$key} {
        max-height: $value;
      }
    }
    &-#{$key} {
      max-height: $value;
    }
  }
}

.w-fit-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
}
.w-fill-available {
  width: -webkit-fill-available;
  width: -moz-available;
}

.h-fit-content {
  height: -webkit-fit-content;
  height: -moz-fit-content;
}
.h-fill-available {
  height: -webkit-fill-available;
  height: -moz-available;
}

@each $key, $value in $gaps {
  .gap-#{$key} {
    gap: $value;
  }
}

.bg {
  &-main {
    background-color: $background;
  }
  &-nav {
    background-color: $navBackground;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: map-get($map: $text-weights, $key: medium) !important;
}

.text-underline {
  text-decoration: underline;
}

.q-no-hoverable {
  &:hover {
    & > .q-focus-helper {
      opacity: 0 !important;
    }
  }
}

.cursor {
  &-loading {
    cursor: wait;
  }
}

.no-link-style {
  text-decoration: none;
  color: inherit;
}

.row {
  display: flex;
  flex-direction: row;
  @include bp-all {
    display: flex !important;
    flex-direction: row !important;
  }
}

.column {
  display: flex;
  flex-direction: column;
  @include bp-all {
    display: flex !important;
    flex-direction: column !important;
  }
}

.q {
  // all responsive spacing
  @each $classCode, $spaceingType in $space-types {
    &-#{$classCode} {
      @each $suffix, $datas in $spaces-repo {
        &#{$suffix} {
          @each $bpKey, $bpValue in $bps {
            &-#{$bpKey} {
              @include bp($bpKey) {
                @each $spaceKey, $spaceValue in $spaces {
                  &-#{$spaceKey} {
                    @each $label, $axe in $datas {
                      #{$spaceingType}-#{$label}: map-get($spaceValue, $axe) !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
