// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// Import font from google font
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

// Set the default font-family
$typography-font-family : 'Onest', sans-serif !default;
$body-font-size: 16px !default;

$primary    : #4263D8;
$grey-light : #DCDDE5;
$grey       : #7F8190;
$background : #fff;
$navBackground : #F7F7FB;
$secondary  : #7242D8;
$accent     : #9C27B0;

$avatar-0   : #FFC107;
$avatar-1   : #E91E63;
$avatar-2   : #9C27B0;
$avatar-3   : #673AB7;
$avatar-4   : #3F51B5;
$avatar-5   : #00BCD4;
$avatar-6   : #009688;
$avatar-7   : #4CAF50;
$avatar-8   : #8BC34A;

$dark       : #1D1D1D;
$dark-page  : #121212;

$positive   : #21BA45;
$negative   : #C10015;
$info       : #31CCEC;
$warning    : #F2C037;
