// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// Import font from google font
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

// Set the default font-family
$typography-font-family: 'Onest', sans-serif !default;
$body-font-size: 16px !default;

$primary: #4263d8;
$grey-light: #dcdde5;
$grey: #7f8190;
$background: #fff;
$navBackground: #f7f7fb;
$secondary: #7242d8;
$secondary-light: #f4f0fe;
$accent: #9c27b0;

$avatar-0: #ffc107;
$avatar-1: #e91e63;
$avatar-2: #9c27b0;
$avatar-3: #673ab7;
$avatar-4: #3f51b5;
$avatar-5: #00bcd4;
$avatar-6: #009688;
$avatar-7: #4caf50;
$avatar-8: #8bc34a;

$avatar-0-text: #000;
$avatar-1-text: #fff;
$avatar-2-text: #fff;
$avatar-3-text: #fff;
$avatar-4-text: #fff;
$avatar-5-text: #000;
$avatar-6-text: #fff;
$avatar-7-text: #fff;
$avatar-8-text: #000;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
