.avatar {
  &-0 {
    background-color: $avatar-0;
    color: $avatar-0-text;
  }
  &-1 {
    background-color: $avatar-1;
    color: $avatar-1-text;
  }
  &-2 {
    background-color: $avatar-2;
    color: $avatar-2-text;
  }
  &-3 {
    background-color: $avatar-3;
    color: $avatar-3-text;
  }
  &-4 {
    background-color: $avatar-4;
    color: $avatar-4-text;
  }
  &-5 {
    background-color: $avatar-5;
    color: $avatar-5-text;
  }
  &-6 {
    background-color: $avatar-6;
    color: $avatar-6-text;
  }
  &-7 {
    background-color: $avatar-7;
    color: $avatar-7-text;
  }
  &-8 {
    background-color: $avatar-8;
    color: $avatar-8-text;
  }
}
