###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/public/media/uploads/

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

/docker/db/
/docker-compose.override.yml

src/Controller/Test/